<div class="container mx-auto m-10 bg-white rounded-md p-5 shadow-sm">
  <h2 class="text-slate-800 font-bold text-4xl">Datos personales</h2>
  <p class="text-sm text-slate-900">Con la finalidad de ofrecer una mejor respuesta, por favor rellena esta información que nos será de utilidad para conocerte mejor.</p>
  <hr class="my-4">
  <form
    [formGroup]="studentDataFormControls"
    class="flex flex-col w-full space-y-4">

    <!-- Personal Info -->
    <div class="flex flex-col md:flex-row md:space-x-4">
      <div class="w-full">
        <label for="name" class="block mb-2 text-sm font-medium text-gray-900">Nombre completo:<span title="Campo obligatorio" class="align-super text-red-400 font-bold cursor-default">*</span></label>
        <div class="flex flex-row space-x-2">
          <input
            formControlName="lastName" type="text" autocomplete="off" id="last_name" name="last_name"
            [ngClass]="{'border-red-500': studentDataFormControls.get('lastName')?.invalid && studentDataFormControls.get('lastName')?.touched,
            'border-green-500': studentDataFormControls.get('lastName')?.valid && studentDataFormControls.get('lastName')?.touched}"
            class="w-full p-2.5 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500" placeholder="Apellido paterno, apellido materno" required />
          <input
            formControlName="firstName" type="text" autocomplete="off" id="first_name" name="first_name"
            [ngClass]="{'border-red-500': studentDataFormControls.get('firstName')?.invalid && studentDataFormControls.get('firstName')?.touched,
            'border-green-500': studentDataFormControls.get('firstName')?.valid && studentDataFormControls.get('firstName')?.touched}"
            class="w-full p-2.5 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500" placeholder="Nombre(s)" required />
        </div>
      </div>
      <div class="md:w-1/2">
        <label for="role_number" class="block mb-2 text-sm font-medium text-gray-900">Matricula:<span title="Campo obligatorio" class="align-super text-red-400 font-bold cursor-default">*</span></label>
        <input
          formControlName="role_number" type="text" autocomplete="off" id="role_number" name="role_number"
          [ngClass]="{'border-red-500': studentDataFormControls.get('role_number')?.invalid && studentDataFormControls.get('role_number')?.touched,
          'border-green-500': studentDataFormControls.get('role_number')?.valid && studentDataFormControls.get('role_number')?.touched}"
          class="w-full p-2.5 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500" placeholder="1234567890" required />
      </div>
    </div>

    <div class="flex flex-col md:flex-row md:space-x-4">
      <div class="w-full">
        <label for="email" class="block mb-2 text-sm font-medium text-gray-900">Correo electrónico:<span title="Campo obligatorio" class="align-super text-red-400 font-bold cursor-default">*</span></label>
        <input
          [value]="studentData.email || ''"
          formControlName="email" type="email" autocomplete="off" id="email" name="email"
          [ngClass]="{'border-red-500': studentDataFormControls.get('email')?.invalid && studentDataFormControls.get('email')?.touched,
          'border-green-500': studentDataFormControls.get('email')?.valid && studentDataFormControls.get('email')?.touched}"
          class="w-full p-2.5 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500" placeholder="correo@prueba.com" required />
      </div>
      <div class="w-full">
        <label for="phone" class="block mb-2 text-sm font-medium text-gray-900">Teléfono:</label>
        <input formControlName="phone" type="text" autocomplete="off" id="phone" name="phone"
          [ngClass]="{'border-red-500': studentDataFormControls.get('phone')?.invalid && studentDataFormControls.get('phone')?.touched,
          'border-green-500': studentDataFormControls.get('phone')?.valid && studentDataFormControls.get('phone')?.touched}"
          class="w-full p-2.5 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500" placeholder="(833) 111 2233" />
      </div>
    </div>

    <div class="flex md:flex-row justify-center md:space-x-4">
      <label class="inline-flex items-center cursor-pointer">
        <input type="checkbox" formControlName="gender" value="" class="sr-only peer">
        <span class="me-3 text-sm font-medium text-gray-900">Masculino</span>
        <div
          [ngClass]="{'ring-1 ring-red-500': studentDataFormControls.get('gender')?.invalid && studentDataFormControls.get('gender')?.touched,
          'ring-1 ring-green-500': studentDataFormControls.get('gender')?.valid && studentDataFormControls.get('gender')?.touched}"
          class="relative w-11 h-6 bg-blue-600 rounded-full peer peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all peer-checked:bg-pink-600"></div>
        <span class="ms-3 text-sm font-medium text-gray-900">Femenino</span>
      </label>
    </div>

    <!-- Academic Info -->

    <div class="flex flex-col md:flex-row md:space-x-4">
      <div class="w-full">
        <label for="career" class="block mb-2 text-sm font-medium text-gray-900">Carrera<span title="Campo obligatorio" class="align-super text-red-400 font-bold cursor-default">*</span></label>
        <select formControlName="career" id="career" name="career"
          [ngClass]="{'border-red-500': studentDataFormControls.get('career')?.invalid && studentDataFormControls.get('career')?.touched,
          'border-green-500': studentDataFormControls.get('career')?.valid && studentDataFormControls.get('career')?.touched}"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5">
          <option selected disabled value="0">Seleccione una carrera</option>
          <option value="1">IC - Ingeniería Civil</option>
          <option value="2">IIS - Ingeniería Industrial y de Sistemas</option>
          <option value="3">ISC - Ingeniería en Sistemas Computacionales</option>
          <option value="4">IN - Ingeniería en Negocios</option>
        </select>
      </div>
      <div class="w-full">
        <label for="semester" class="block mb-2 text-sm font-medium text-gray-900">Semestre<span title="Campo obligatorio" class="align-super text-red-400 font-bold cursor-default">*</span></label>
        <select formControlName="semester" id="semester" name="semester"
          [ngClass]="{'border-red-500': studentDataFormControls.get('semester')?.invalid && studentDataFormControls.get('semester')?.touched,
          'border-green-500': studentDataFormControls.get('semester')?.valid && studentDataFormControls.get('semester')?.touched}"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5">
          <option selected disabled value="0">Seleccione tu semestre</option>
          <option value="1">Primer Semestre</option>
          <option value="2">Segundo Semestre</option>
          <option value="3">Tercer Semestre</option>
          <option value="4">Cuarto Semestre</option>
          <option value="5">Quinto Semestre</option>
          <option value="6">Sexto Semestre</option>
          <option value="7">Séptimo Semestre</option>
          <option value="8">Octavo Semestre</option>
          <option value="9">Noveno Semestre</option>
        </select>
      </div>

    </div>

    <div class="flex justify-end w-full">
      <button type="submit" (click)="onStudentDataFormSubmit()" class="focus:outline-none text-white bg-orange-400 hover:bg-orange-300 focus:ring-4 focus:ring-orange-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2">Continuar</button>
    </div>
  </form>
</div>

<div
  [ngClass]="{'hidden': !showDialog}"
  class="absolute top-20 md:relative md:-top-10 z-50 w-full p-5">
  <div id="alert-2" class="flex items-center p-4 mb-4 text-red-800 rounded-lg bg-red-100" role="alert">
    <svg class="flex-shrink-0 w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
      <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
    </svg>
    <span class="sr-only">Info</span>
    <div class="ms-3 text-sm font-medium">
      {{ formErrorMsg }}
    </div>
    <button (click)="showDialog = !showDialog" type="button" class="ms-auto -mx-1.5 -my-1.5 text-red-500 rounded-lg focus:ring-2 focus:ring-red-400 p-1.5 hover:bg-red-200 inline-flex items-center justify-center h-8 w-8" data-dismiss-target="#alert-2" aria-label="Close">
      <span class="sr-only">Cerrar</span>
      <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
      </svg>
    </button>
  </div>
</div>
